include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include food_order *.css
recursive-include food_order *.csv
recursive-include food_order *.html
recursive-include food_order *.ico
recursive-include food_order *.js
recursive-include food_order *.json
recursive-include food_order *.md
recursive-include food_order *.png
recursive-include food_order *.py
recursive-include food_order *.svg
recursive-include food_order *.txt
recursive-exclude food_order *.pyc